<script lang="ts">
import Fetch from '@/utils/fetch'
import get from 'lodash/get'
import { reactive } from 'vue'
import { useVuelidate } from '@vuelidate/core'
import { required, email, helpers, minLength, maxLength } from '@vuelidate/validators'
import {useRouter} from 'vue-router'
import { useStore } from 'vuex'
import { GET_ME } from '@/constants/api'

export default {
    setup() {
        v$: useVuelidate()
        const store = useStore()
        const route = useRouter()
        const state: {
            email: string
            password: string
        } = reactive({
            email: '',
            password: ''
        })

        const rules: any = {
            email: {
                required: helpers.withMessage('Email is required', required),
                email: helpers.withMessage('Email is not valid', email)
            },
            password: {
                required: helpers.withMessage('Password is required', required),
                min: helpers.withMessage('Password must be at least 6 characters', minLength(6)),
                maxLength: helpers.withMessage(
                    'Password must be at most 50 characters',
                    maxLength(50)
                )
            }
        }
        const v$ = useVuelidate(rules, state)

        const loginWitGoogle = () => {
            const { VITE_GOOGLE_CLIENT_ID, VITE_GOOGLE_REDIRECT_URI } = import.meta.env
            const url: string = 'https://accounts.google.com/o/oauth2/v2/auth'
            const query = {
                client_id: VITE_GOOGLE_CLIENT_ID,
                redirect_uri: VITE_GOOGLE_REDIRECT_URI,
                response_type: 'code',
                scope: [
                    'https://www.googleapis.com/auth/userinfo.email',
                    'https://www.googleapis.com/auth/userinfo.profile'
                ].join(' '),
                prompt: 'consent'
            }
            const query_string = new URLSearchParams(query).toString()

            return `${url}?${query_string}` as string
        }

        const  loginWithUsernameAndPassword = async() => {
            v$.value.$touch()
            
            if (v$.value.$invalid) return

            const is_login = await Fetch.post('http://localhost:4000/api/users/login', {
                email: state.email,
                password: state.password
            })
            if(get(is_login, 'statusCode') == 200)
            {
                localStorage.setItem('access_token', get(is_login, 'data.accessToken'))
                localStorage.setItem('refresh_token', get(is_login, 'data.refreshToken'))
                const user = await Fetch.get(GET_ME, { authHeader: true })
                if(get(user, 'statusCode') != 200) return

                store.dispatch('userModule/SetUser', get(user, 'data'))

                route.push('/')
            }
        }

        return {
            state,
            v$,
            loginWitGoogle,
            loginWithUsernameAndPassword
        }
    }
}
</script>
<template>
    <h1
        class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
    >
        Sign in to your account
    </h1>
    <form class="space-y-4 md:space-y-6" action="#" method="post">
        <div>
            <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Your email</label
            >
            <input
                type="email"
                name="email"
                id="email"
                @blur="v$.email.$touch"
                v-model="state.email"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                placeholder="name_example@gmail.com"
            />
            <div :class="{ error: v$.email.$errors.length }">
                <div class="text-red-500" v-for="error of v$.email.$errors" :key="error.$uid">
                    <div class="error-msg">{{ error.$message }}</div>
                </div>
            </div>
        </div>
        <div>
            <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Password</label
            >
            <input
                type="password"
                name="password"
                id="password"
                v-model="state.password"
                @blur="v$.password.$touch"
                placeholder="••••••••"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-600 focus:border-blue-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            />
            <div :class="{ error: v$.password.$errors.length }">
                <div class="text-red-500" v-for="error of v$.password.$errors" :key="error.$uid">
                    <div class="error-msg">{{ error.$message }}</div>
                </div>
            </div>
        </div>
        <div class="flex items-center justify-between">
            <div class="flex items-start">
                <div class="flex items-center h-5">
                    <input
                        id="remember"
                        aria-describedby="remember"
                        type="checkbox"
                        class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800"
                    />
                </div>
                <div class="ml-3 text-sm">
                    <label for="remember" class="text-gray-500 dark:text-gray-300"
                        >Remember me</label
                    >
                </div>
            </div>
            <a href="#" class="text-sm font-medium text-blue-600 hover:underline dark:text-blue-500"
                >Forgot password?</a
            >
        </div>
        <button
            type="button"
            @click="loginWithUsernameAndPassword()"
            class="w-full text-white bg-blue-500 hover:bg-blue-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
            Sign in
        </button>
        <div class="-my-3 flex justify-center items-center gap-4 w-[70%] mx-auto">
            <div class="w-[50%] border-b-2 border-gray-300"></div>
            <div class="flex justify-center">Or</div>
            <div class="w-[50%] border-b-2 border-gray-300"></div>
        </div>
        <a
            :href="loginWitGoogle()"
            class="w-full justify-center flex items-center bg-white border border-gray-300 rounded-lg shadow-md px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
        >
            <svg
                class="h-6 w-6 mr-2"
                xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                viewBox="-0.5 0 48 48"
                version="1.1"
            >
                <g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g id="Color-" transform="translate(-401.000000, -860.000000)">
                        <g id="Google" transform="translate(401.000000, 860.000000)">
                            <path
                                d="M9.82727273,24 C9.82727273,22.4757333 10.0804318,21.0144 10.5322727,19.6437333 L2.62345455,13.6042667 C1.08206818,16.7338667 0.213636364,20.2602667 0.213636364,24 C0.213636364,27.7365333 1.081,31.2608 2.62025,34.3882667 L10.5247955,28.3370667 C10.0772273,26.9728 9.82727273,25.5168 9.82727273,24"
                                id="Fill-1"
                                fill="#FBBC05"
                            ></path>
                            <path
                                d="M23.7136364,10.1333333 C27.025,10.1333333 30.0159091,11.3066667 32.3659091,13.2266667 L39.2022727,6.4 C35.0363636,2.77333333 29.6954545,0.533333333 23.7136364,0.533333333 C14.4268636,0.533333333 6.44540909,5.84426667 2.62345455,13.6042667 L10.5322727,19.6437333 C12.3545909,14.112 17.5491591,10.1333333 23.7136364,10.1333333"
                                id="Fill-2"
                                fill="#EB4335"
                            ></path>
                            <path
                                d="M23.7136364,37.8666667 C17.5491591,37.8666667 12.3545909,33.888 10.5322727,28.3562667 L2.62345455,34.3946667 C6.44540909,42.1557333 14.4268636,47.4666667 23.7136364,47.4666667 C29.4455,47.4666667 34.9177955,45.4314667 39.0249545,41.6181333 L31.5177727,35.8144 C29.3995682,37.1488 26.7323182,37.8666667 23.7136364,37.8666667"
                                id="Fill-3"
                                fill="#34A853"
                            ></path>
                            <path
                                d="M46.1454545,24 C46.1454545,22.6133333 45.9318182,21.12 45.6113636,19.7333333 L23.7136364,19.7333333 L23.7136364,28.8 L36.3181818,28.8 C35.6879545,31.8912 33.9724545,34.2677333 31.5177727,35.8144 L39.0249545,41.6181333 C43.3393409,37.6138667 46.1454545,31.6490667 46.1454545,24"
                                id="Fill-4"
                                fill="#4285F4"
                            ></path>
                        </g>
                    </g>
                </g>
            </svg>
            <span>Continue with Google</span>
        </a>
        <p class="text-sm font-light text-gray-500 dark:text-gray-400">
            Don’t have an account yet?
            <a href="#" class="font-medium text-blue-400 hover:underline dark:text-blue-500"
                >Sign up</a
            >
        </p>
    </form>
</template>
