<script lang="ts">
import { useRoute, RouteLocationNormalizedLoaded } from "vue-router";
import { computed } from "vue";
import { DEFAULT_LAYOUT } from "@/constants"

export default {
  setup() {
    const route: RouteLocationNormalizedLoaded = useRoute();

    return {
      layout: computed(
        () => route.meta.layout + "-layout" || DEFAULT_LAYOUT + "-layout"
      ),
    };
  },
};
</script>

<template>
  <component :is="layout">
  <router-view></router-view>

  </component>
</template>
