<template>
    <div>
        đây là layout
        <div style="height: fit-content;" class="text-white">
            <slot/>
        </div>
        footer ở đây nè
    </div>
</template>
<script lang="ts">
export default {
    
}
</script>